// https://coolors.co/dee7ed-4b00b5-23185e-4392f1-dc493a

$background-color: #dee7ed;
$code-background-color: $background-color;
$carbonfive-background-color: #404040;
$text-color: #23185e;
$link-color: #084887;
$h1-color: #dc493a;
$h2-color: #4b00b5;
$h3-color: #4b00b5;
$h4-color: #4392f1;
$h1-font-size: 3.5em;

@import "book-tilt-effect";

.hljs {
  background: $code-background-color !important;
}

body {
  font-family: "Nunito Sans", sans-serif;
  text-rendering: optimizeLegibility;
  zoom: 150%;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Lato", "Nunito Sans", sans-serif;
  font-weight: 900;
  line-height: 1em;
}

h2 {
  margin: 0.75em 0;
}

h4 {
  color: $h4-color;
  margin: 1em 0;

  /*border-bottom: 1px solid #6E6362;*/
  /*font-style: italic;*/
}

h5 {
  margin: 1rem 0;
}

pre {
  margin: 1rem 0;
}

.remark-code,
.remark-inline-code {
  font-family: "Fira Mono", "Fira Code", "Ubuntu Mono";
  font-size: 1em;
  line-height: 1.2em;
}

.remark-code {
  margin: 0 -1em;
  overflow-x: hidden !important;
}

.remark-slide-content {
  font-size: 2em;
  line-height: 1.428em;
  background-size: cover !important;
  padding: 1em 2em;
  background-color: $background-color;
  color: $text-color;

  &.background-color-code {
    background-color: $code-background-color;
  }

  &.background-color-carbonfive {
    background-color: $carbonfive-background-color;
  }

  p {
    font-size: 1.15em;
  }

  h1 {
    color: $h1-color;
    font-size: $h1-font-size;
    line-height: 1em;
    margin: 0.5em 0;
  }

  h2 {
    color: $h2-color;
    font-size: 2em;
  }

  h3 {
    color: $h3-color;
    font-size: 1.6em;
  }
}

a,
a:link,
a:visited,
a:active {
  color: $link-color;
}

.remark-slide-number {
  /* Don't show slide numbers */
  display: none;
  font-family: "Fira Mono", "Fira Code", "Ubuntu Mono", monospace;
  font-size: 0.5em;
}

.hide-slide-number {
  .remark-slide-number {
    display: none
  }
}

.background-image-contain {
  background-size: contain !important;
}

.small-code .remark-code {
  font-size: 0.8em;
}

.xsmall-code .remark-code {
  font-size: 0.7em;
}

.background-white {
  background-color: white;
}

.white-text {
  color: white;
}

table {
  border: 1px solid gray;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  border: 1px solid gray;
  padding: 0.3em 0.5em;
}

@page {
  size: 1440px 810px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
